

*{
  padding: 0;
  margin: 0;
}
body{
    width: 100%;
    height: 1701px;
    font-size: 62.5%;
    font-family: Microsoft Yahei;
    color: rgba(153,153,153,1);
    overflow-y: auto;
    overflow-x: auto;
    margin: 0 0 4px 0;
    background: rgba(136, 216,247,1);
}
.container {
  width:95%;
  margin: 0 auto;
}
.today , .three , .earlier {
  width: 100%;
  margin: 30px auto;
  padding: 25px 0;
  background-color: rgba(255, 255, 255, 1);
}
.period{
  margin-left: 2.5%;
}
.unread{
  position: absolute;
  left: 0px;
}
.dynamicList{
  width: 95%;
  height: 200px;
  margin: 20px auto;
  position: relative;
  background: rgba(188,233,251,1);
  box-shadow:6px 6px 8px rgba(181,181,181,1) ;
}
.dynamicList:active{
  box-shadow:none;
}
.dynamicText{
  list-style: none;
  display: none;
  font-size: 30px;
  margin: 0 0 30px;
  padding: 10px 50px;
  color: rgba(10,10,10,1);
  height: 400px;
}
.dynamicImg{
  width: 17%;
  height: 80%;
  float: left;
  margin: 2.5%;
}
.content{
  width: 60%;
  float: left;
  margin: 40px 0 0 15px;
}
.title{
  font-size: 50px;
  color: rgba( 0, 0, 0,1);
}
.text{
  font-size: 30px;
  margin-top: 10px;
  color: rgba(52,52,52,1);
}
.infor{
  width: 16%;
  float:right;
  color: rgba(52,52,52,1);
}
.time{
  font-size: 30px;
  position: relative;
  right: -45px;
  top: 10px;
}
.sender{
  font-size: 30px;
  position: relative;
  right: 5px;
  bottom: -95px;

}
hr{
width: 80%;
margin: 0 auto;
color: rgba(181,181,181,1);
}

footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  bottom: 0px;
}
.option{
  width: 19.2%;
  display: inline-block;
  text-align: center;
}
.blo{
  width: 30%;
  margin: 15px auto 0;
  display: block;
}
.des{
  font-size: 30px;
}
.token{
  width: 80%;
  height: 20px;
  margin: 0 auto;
  position: relative;
  background-color:rgba(139, 228, 232,1);
}
.untoken{
  width: 80%;
  height: 20px;
  margin: 0 auto;
  position: relative;
  background-color: inherit;
}

